---
export interface HeaderProps {
  fullName: string
  jobTitle: string
}

const { fullName, jobTitle } = Astro.props as HeaderProps
---

<h1 class="full-name">{fullName}</h1>
<h2 class="job-title">{jobTitle}</h2>

<style lang="scss">
  .full-name {
    display: inline-block;
    margin: 0;
    padding: 0.25rem 1rem;
    width: 100%;
    background-color: var(--primary-background-color);
    color: #fff;
    border-radius: 0.15rem;
    box-sizing: border-box;
    font-weight: 400;
  }

  .job-title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.25rem 0 0;
    padding: 0.25rem 1rem;
    background-color: var(--secondary-background-color);
    color: #fff;
    border-radius: 0.15rem;
  }
</style>
