<div class="intro">
  <p>
    Curious developer and enthusiast of <strong>the WWW</strong> universe, looking
    for a company's "mission/vision" (what they're trying to achieve and for whom)
    and culture (what they think about their people) I can feel aligned with.
  </p>

  <p>
    I'm in love with <strong>open-source</strong> projects which give us a great
    platform to create useful things with a low cost and full transparency. (Almost)
    every tool I use is open source (Linux, Python, VSCode, PostgreSQL, and so on)
    and I (usually) do not like propietary solutions (Oracle, SQL Server, Windows,
    etc) because of the obligation to adopt another set of private related technologies
    from the same company (most of the time).
  </p>

  <p>
    I'm pretty focused on <i class="fab fa-js"></i>
    <strong>JavaScript</strong>-related technologies (including <strong
      >Typescript</strong
    >): <i class="fab fa-react"></i>
    <strong>React</strong> or <i class="fab fa-vuejs"></i>
    <strong>Vue</strong> for the front, and <i class="fab fa-node-js"></i>
    <strong>Node/Express</strong> for the backend.
  </p>

  <p>
    I love <i class="fab fa-python"></i>
    <strong>Python</strong> and the whole living ecosystem around it. Great work
    of a lot of people. Great on-line resources and awesome productivity.
  </p>

  <p>
    Testing (and playing with) new technologies, as they come up, is something I
    like a lot.
  </p>
  <p>&nbsp;</p>
</div>

<style lang="scss">
  .intro {
    p {
      font-size: 1.1rem;
      font-weight: 300;
      text-align: justify;
      line-height: 1;
      margin: 0.75rem 0;
    }
  }
</style>
