---
import SectionTitle from './SectionTitle.astro'
import Skill from './Skill.astro'
---

<SectionTitle title="Languages" />

<section class="section-skills">
  <Skill title="Spanish" />
  <Skill title="English" />
</section>
