---
export interface SectionTitleProps {
  title: string
  isProfessional: boolean
}

const { title, isProfessional } = Astro.props as SectionTitleProps
const className = `section-title ${
  isProfessional ? 'section-title__professional-experience' : ''
}`
---

<h3 class={className}>
  {title}
</h3>

<style lang="scss">
  $sectionTitleBackground: #20374d;

  .section-title {
    font-family: var(--regular-font);
    // font-weight: 400;
    padding: 0.25rem 1rem;
    background-color: $sectionTitleBackground;
    color: #eee;
    border-radius: 0.25rem;

    &__professional-experience {
      margin-top: 1.7rem;
    }
  }
</style>
