---
import SectionTitle from './SectionTitle.astro'
import Skill from './Skill.astro'
---

<SectionTitle title="Technical skills" style={{ marginTop: '1.55rem' }} />

<section class="section-skills">
  <Skill title="Typescript/ES2015+" />
  <Skill title="HTML/CSS" />
  <Skill title="React" />
  <Skill title="Vue/Nuxt" />

  <br />

  <Skill title="Node" />
  <Skill title="ExpressJS" />

  <br />

  <Skill title="Python" />
  <Skill title="Flask" />

  <br />

  <Skill title="PostgreSQL" />
  <Skill title="MySQL" />
  <Skill title="MongoDB" />

  <br />

  <Skill title="git" />
  <Skill title="Linux" />
  <Skill title="AWS" />

  <br />

  <Skill title="Docker" />
  <Skill title="nginx" />

  <br />

  <Skill title="PHP" />
  <Skill title="Wordpress" />
  <Skill title="jQuery" />

  <br />

  <Skill title="Webpack" />
  <Skill title="Browserify" />
  <Skill title="Gulp" />
</section>
